# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
riwayat_fika.db
venv/
.env
.idea/
.DS_Store

# Jika menggunakan VS Code
.vscode/

# Jika menggunakan pipenv atau poetry
pipfile.lock
poetry.lock